In [15]:
import random
from functools import partial

import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier

In [2]:
df = pd.read_csv("../data/heart_cleveland_upload.csv")

In [5]:
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,condition
0,69,1,0,160,234,1,2,131,0,0.1,1,1,0,0
1,69,0,0,140,239,0,0,151,0,1.8,0,2,0,0
2,66,0,0,150,226,0,0,114,0,2.6,2,0,0,0
3,65,1,0,138,282,1,2,174,0,1.4,1,1,0,1
4,64,1,0,110,211,0,2,144,1,1.8,1,0,0,0

In [27]:
df.dtypes

age            int64
sex            int64
cp             int64
trestbps       int64
chol           int64
fbs            int64
restecg        int64
thalach        int64
exang          int64
oldpeak      float64
slope          int64
ca             int64
thal           int64
condition      int64
dtype: object

In [9]:
df[['age', 'trestbps', 'chol', 'thalach', 'oldpeak']].describe()

              age    trestbps        chol     thalach     oldpeak
count  297.000000  297.000000  297.000000  297.000000  297.000000
mean    54.542088  131.693603  247.350168  149.599327    1.055556
std      9.049736   17.762806   51.997583   22.941562    1.166123
min     29.000000   94.000000  126.000000   71.000000    0.000000
25%     48.000000  120.000000  211.000000  133.000000    0.000000
50%     56.000000  130.000000  243.000000  153.000000    0.800000
75%     61.000000  140.000000  276.000000  166.000000    1.600000
max     77.000000  200.000000  564.000000  202.000000    6.200000

In [11]:
y = df['condition'].values
X = df.drop(columns=['condition']).values

neigh = KNeighborsClassifier(n_neighbors=3)
neigh.fit(X, y)

KNeighborsClassifier(n_neighbors=3)

In [22]:
def generate_item():
    age = random.randint(29, 77)
    sex = random.randint(0, 1)
    cp = random.randint(0, 3)
    trestbps = random.randint(94, 200)
    chol = random.randint(126, 564)
    fbs = random.randint(0, 1)
    restecg = random.randint(0, 2)
    thalach = random.randint(7, 202)
    exang = random.randint(0, 1)
    oldpeak = random.randint(0, 62)/10
    slope = random.randint(0, 3)
    ca = random.randint(0, 4)
    thal = random.randint(0, 3)
    
    x = [age, sex, cp, trestbps, chol, fbs, restecg, thalach, exang, oldpeak, slope, ca, thal]
    
    class_ = neigh.predict(np.array(x).reshape(1, -1))
    x.append(class_[0])
    return np.array(x)

In [24]:
data = []
for i in range(500):
    data.append(generate_item())
data = np.vstack(data)
print(data.shape)

(500, 14)

In [30]:
test_df = pd.DataFrame(data, columns=df.columns)
test_df[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'slope', 'ca', 'thal', 'condition']]\
    = test_df[['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach', 'exang', 'slope', 'ca', 'thal', 'condition']].astype("int64")
test_df.dtypes

age            int64
sex            int64
cp             int64
trestbps       int64
chol           int64
fbs            int64
restecg        int64
thalach        int64
exang          int64
oldpeak      float64
slope          int64
ca             int64
thal           int64
condition      int64
dtype: object

In [31]:
test_df.to_csv("../data/test_generated_data.csv", index=False)

In [71]:
a = np.random.binomial(1, 0.8, size=(10, 14))

In [72]:
a[a==0].shape[0] / (a.shape[0]*a.shape[1])

0.22857142857142856

In [73]:
sum(a.shape)

24